/elpa/
/auto-save-list/
/history
/ac-comphist.dat
/filesets-cache.el
/.trash
/var
/url/cookies
/server/*
*.elc
/.DS_Store
/abbrev_defs
/config-proxy.el
/config-sqlplus.el
/hosen-tools
/.org-id-locations
/dict
/projectile-bookmarks.eld
/projectile.cache
/junk
/recentf
