/elpa/
/elpy/
/auto-save-list/
/history
/url/cookies
/server/*
*.elc
/.DS_Store
/abbrev_defs
/.org-id-locations
/projectile-bookmarks.eld
/projectile.cache
/recentf
/meghanada
/network-security.data
/eshell
/transient
/straight
/.cache
/lsp-cache
/site-lisp/nerd-fonts.el
/.lsp-session-*
/projects
kkcrc
